body{
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
}

.header_footer {
    clear: both;
    background-color: rgb(206, 230, 254);
    width: 100%;
    border: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: fantasy;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}

.main {
    width: 60%;
    border: solid;
    background-color: pink;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
}

#name {
    width: 100px;
    transition: width 0.3s ease;
}

#name:focus {
    width: 200px;
}

.sidebar {
    width: 30%;
    border: solid;
    background-color: plum;
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
}

.sidebar:hover{
    background-color: rgb(239, 113, 136)
}

.nav ul{
    list-style: none;
    margin: 2px;
    padding: 2px;
    background-color: cadetblue;
    overflow: hidden;

}
.nav li {
    float:left;
}

.nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

.nav li a:hover {
    background-color: aliceblue;
    color: black;
}