.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    
}

.name{
    border: 3px solid;
    background-color: blueviolet;
    color: white;
    width: 45%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;

}

.change-color{
    border: 3px solid;
    background-color: blueviolet;
    color: white;
    width: 45%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;

}


.text-tester{
    clear: both;
    border: 3px solid;
    background-color: blueviolet;
    color: white;
    width: 45%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    
}

.add-text{
    border: 3px solid;
    background-color: blueviolet;
    color: white;
    width: 45%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    
}
